---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Contact from '../components/Contact.astro';
import AboutMe from '../components/AboutMe.astro';
import Proyects from '../components/Proyects.astro';
import Technologies from '../components/Technologies.astro';
---

<Layout title="Portafolio">
  <Navbar />
  <main class="text-white">
    <Contact />
    <section class="h-screen grid place-content-center">
      <section>
        <h1 class="text-3xl">Hola soy</h1>
        <div class="min-w-[250px] md:w-full">
          <div class="title" id="title2">
            <h2 class="text-6xl md:text-9xl">Full stack</h2>
          </div>
          <div class="title" id="title3">
            <h2 class="text-6xl md:text-9xl">Frontend</h2>
          </div>
          <div class="title" id="title4">
            <h2 class="text-6xl md:text-9xl">Backend</h2>
          </div>
        </div>
        <h3 class="text-3xl w-full text-right">Developer</h3>
      </section>
    </section>

    <AboutMe />
    <Proyects />
    <Technologies />
  </main>
</Layout>
<style>
  h2 {
    margin: auto;
    font-weight: 300;
    animation: lights 5s 750ms linear infinite;
    transition: none;
    color: hsl(230, 40%, 80%);
  }
  @keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }

    30% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }

    40% {
      color: hsl(230, 100%, 95%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }

    70% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }

    100% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
  }

  .title {
    display: none;
    animation: slide-up 0.5s ease-in-out;
    transition: all 1s;
  }

  @keyframes slide-up {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
</style>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const titles = document.querySelectorAll<HTMLElement>('.title');
    let currentIndex = 0;

    function showNextTitle() {
      let algo = titles[currentIndex];
      titles[currentIndex].style.display = 'none';
      currentIndex = (currentIndex + 1) % titles.length;
      titles[currentIndex].style.display = 'block';
    }

    showNextTitle(); // Mostrar el primer título inmediatamente

    setInterval(showNextTitle, 3000); // Cambiar de título cada 8 segundos
  });
</script>
