---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Contact from '../components/Contact.astro';
import AboutMe from '../components/AboutMe.astro';
import Proyects from '../components/Proyects.astro';
import Technologies from '../components/Technologies.astro';
---

<Layout title="Welcome to Astro.">
  <Navbar />
  <main class="text-white">
    <Contact />
    <div class="h-[90vh] grid place-content-center">
      <h1>Probando</h1>
    </div>

    <AboutMe />
    <Proyects />
    <Technologies />
  </main>
</Layout>
