---
/*
. Mi versatilidad se extiende desde el frontend hasta el
      backend, lo que me permite abordar todo el espectro de desarrollo de
      software. He tenido la oportunidad de participar en proyectos desafiantes
      que han fortalecido mis habilidades técnicas y mi capacidad para resolver
      problemas de manera efectiva.


      . Estoy apasionado por la tecnología y siempre estoy buscando
      oportunidades para aprender y crecer como profesional en el mundo del
      desarrollo de software.
*/
---

<div class="h-screen w-full flex justify-center items-center" id="aboutme">
  <div class="w-4/5 md:w-1/2">
    <h2 class="text-2xl mb-5 font-bold tracking-wide text-center">Sobre mi</h2>
    <p class="font-light text-greyText mb-2">
      Soy un desarrollador con experiencia en la creación de proyectos tanto
      pequeños como grandes, ya sea trabajando en equipo o de manera
      independiente. He tenido la oportunidad de participar en proyectos
      desafiantes que han fortalecido mis habilidades técnicas y mi capacidad
      para resolver problemas de manera efectiva.
    </p>
    <p class="font-light text-greyText">
      Además de mis sólidos conocimientos técnicos, también he trabajado en
      entornos ágiles utilizando metodologías como Scrum. Esto me ha permitido
      colaborar de manera eficiente con equipos multidisciplinarios, mantener
      una comunicación fluida y entregar resultados de alta calidad en plazos
      ajustados
    </p>
  </div>
</div>
