---
import Icons from './Icons.astro';
---

<div class="flex flex-col gap-5" id="proyects">
  <h2 class="text-2xl mb-2 font-bold tracking-wide w-full text-center mt-20">
    Proyectos
  </h2>
  <div
    class="w-full flex justify-center items-center flex-col-reverse md:flex-row md:items-start"
  >
    <div
      class="w-4/5 border-2 border-grey md:w-1/5 p-2 md:border-r-0 bg-mainColor"
    >
      <h3 class="font-semibold mb-3">
        Timberli
        <p class="text-xs font-light">Red social dedicada a desarrolladores</p>
      </h3>
      <p>
        Trabajé como desarrollador full stack, implementando vistas y
        funcionalidades, además de gestionar endpoints y relaciones en la base
        de datos. Mi enfoque abarcó todos los aspectos del proyecto, desde la
        interfaz del usuario hasta la lógica empresarial y la base de datos.
      </p>
      <div class="w-full flex justify-evenly my-3">
        <a
          href="https://github.com/Proyecto-Timberli/proyecto-final"
          target="_blank"
          class="cursor-pointer bg-red"
        >
          <Icons icon="code" />
        </a>
        <a
          href="https://proyecto-final-orcin-seven.vercel.app"
          target="_blank"
          class="cursor-pointer"
        >
          <Icons icon="link" />
        </a>
      </div>
    </div>
    <div
      class="w-4/5 border-2 border-b-0 border-grey md:w-3/5 md:h-pr md:border-b-2"
    >
      <img src="/timberli.png" class="h-full aspect-square w-full" />
    </div>
  </div>
  <div
    class="w-full flex justify-center items-center flex-col-reverse md:flex-row-reverse md:items-start"
  >
    <div
      class="w-4/5 border-2 border-grey md:w-1/5 p-2 md:border-l-0 bg-mainColor"
    >
      <h3 class="font-semibold mb-3">
        StuCourse Manager
        <p class="text-xs font-light">administracion de estudiantes y cursos</p>
      </h3>
      <p>
        Lidere el equipo del desarrollo del frontend asi como procesos de inicio
        de sesion y registro del usuario e integracion de APIs y datos en tiempo
        real
      </p>
      <div class="w-full flex justify-evenly my-3">
        <a
          href="https://github.com/Trycatch-tv/team-10-frontend"
          target="_blank"
          class="cursor-pointer bg-red"
        >
          <Icons icon="code" />
        </a>
        <a
          href="https://team-10-frontend.vercel.app/auth/login"
          target="_blank"
          class="cursor-pointer"
        >
          <Icons icon="link" />
        </a>
      </div>
    </div>

    <div
      class="w-4/5 border-2 border-b-0 border-grey md:w-3/5 md:h-pr md:border-b-2"
    >
      <img src="/StuCourse.png" class="h-full aspect-square w-full" />
    </div>
  </div>
  <div
    class="w-full flex justify-center items-center flex-col-reverse md:flex-row md:items-start"
  >
    <div
      class="w-4/5 border-2 border-grey md:w-1/5 p-2 md:border-r-0 bg-mainColor"
    >
      <h3 class="font-semibold mb-3">
        Share Me
        <p class="text-xs font-light">Pagina inspiridada en pinsterest</p>
      </h3>
      <p>
        Lidere el equipo del desarrollo del frontend asi como procesos de inicio
        de sesion y registro del usuario e integracion de APIs y datos en tiempo
        real
      </p>
      <div class="w-full flex justify-evenly my-3">
        <a
          target="_blank"
          href="https://github.com/krosul/share-me"
          class="cursor-pointer bg-red"
        >
          <Icons icon="code" />
        </a>
        <a href="share-me-pi.vercel.app" target="_blank" class="cursor-pointer">
          <Icons icon="link" />
        </a>
      </div>
    </div>

    <div
      class="w-4/5 border-2 border-b-0 border-grey md:w-3/5 md:h-pr md:border-b-2"
    >
      <img src="/ShareMe.png" class="h-full aspect-square w-full" />
    </div>
  </div>
  <!-- <div
    class="w-full flex justify-center items-center flex-col-reverse md:flex-row-reverse md:items-start"
  >
    <div
      class="w-4/5 border-2 border-grey md:w-1/5 p-2 md:border-l-0 bg-mainColor"
    >
      <h3 class="font-semibold mb-3">
        What'sNewapp
        <p class="text-xs font-light">Chat en tiempo real</p>
      </h3>
      <p>
        Lidere el equipo del desarrollo del frontend asi como procesos de inicio
        de sesion y registro del usuario e integracion de APIs y datos en tiempo
        real
      </p>
      <div class="w-full flex justify-evenly my-3">
        <a href="# " class="cursor-pointer bg-red">
          <Icons icon="code" />
        </a>
        <a href="#" class="cursor-pointer">
          <Icons icon="link" />
        </a>
      </div>
    </div>

    <div
      class="w-4/5 border-2 border-b-0 border-grey md:w-3/5 md:h-pr md:border-b-2"
    >
      <img src="/ShareMe.png" class="h-full aspect-square w-full" />
    </div>
  </div> -->
</div>
